event:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  github_id: 'TEXT UNIQUE'
  type: 'TEXT'
  branch: 'TEXT'
  repo: 'TEXT'
  payload: 'TEXT'
  created: 'NUMERIC'
  sequence_start: 'INTEGER'
eventstate:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  name: 'TEXT UNIQUE'
  start_id: 'TEXT'
  last_id: 'TEXT'
githubcache:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  url: 'TEXT UNIQUE'
  next_url: 'TEXT'
  etag: 'TEXT'
  body: 'TEXT'
history:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  name: 'TEXT'
  value: 'TEXT'
  updated_on: 'NUMERIC'
mirror:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  url: 'TEXT UNIQUE'
  path: 'TEXT UNIQUE'
  dirty: 'INTEGER'
  priority: 'INTEGER DEFAULT 0'
queue:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  name: 'TEXT UNIQUE'
  last_github_id: 'TEXT'
  type: 'TEXT'
variable:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  name: 'TEXT UNIQUE'
  value: 'TEXT'
  updated_on: 'NUMERIC'
pull_request:
  id: 'INTEGER PRIMARY KEY'
  repo_full_name: 'TEXT'
  pull_request_number: 'INTEGER'
  pull_request_url: 'TEXT'
  pull_request_title: 'TEXT'
  pull_request_created_at: 'TEXT'
  pull_request_updated_at: 'TEXT'
pull_request_event:
  id: 'INTEGER PRIMARY KEY AUTOINCREMENT'
  action: 'VARCHAR(20)'
  repo_full_name: 'TEXT'
  pull_request_id: 'INTEGER'
  pull_request_number: 'INTEGER'
  pull_request_url: 'TEXT'
  pull_request_title: 'TEXT'
  pull_request_created_at: 'TEXT'
  pull_request_updated_at: 'TEXT'
  pull_request_state: 'TEXT'
  created_on: 'DATETIME DEFAULT CURRENT_TIMESTAMP'
